# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
venv/
.env/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Tox
.tox/

# Docker
*.log

# IDE
.vscode/
.idea/
